{% extends 'logparser/base.html' %}
{% load render_table from django_tables2 %}

{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}
{% block content %}
            <div class="breadcrumbs">
                <a href="/">Начало</a>
                &rsaquo; Запросы
            </div>
            <!-- Content -->

            <div id="content-main">
                <ul class="object-tools">
                    <li>
                      <a href="/request/add/" class="addlink">

                        Добавить запрос
                      </a>
                    </li>
                </ul>
                <form action="{% url 'request_list' %}" method="post">
                    {% csrf_token %}
                    {% render_table table 'django_tables2/table.html' %}
                </form>
            </div>
            <!-- END Content -->
{% endblock %}